* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

body {
    background-color: black;
}

canvas {
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
}

.score {
    display: block;
    text-align: center;
    margin: 40px auto;
    font-size: 70px;
}

.game__over {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-right: 0;
    transform: translate(-50%, -100%);
    font-size: 70px;
}

.active__game {
    box-shadow: rgb(1, 212, 4) 1px 1px 20px 20px;
}

.over__game {
    filter: blur(20px);
}

.control {
    display: block;
    text-align: center;
    font-size: 20px;
}

.gradient {
    width: 200px;
    height: 50px;
    background: black;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    margin: 70px auto;
    font-weight: 700;
    position: relative;
}

.gradient:before,
.gradient:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    background: linear-gradient(45deg, #00FF00, #006400,
            #001f00, #006400, #00FF00, #001d00, #006400,
            #00FF00, #006400);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    border-radius: 10px;
    background-size: 400%;
    animation: animate 40s linear infinite;
}

.gradient:after {
    filter: blur(15px)
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}